@import "../../App";

.allPosts-container {
  //max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .allPosts-container {
    flex-basis: 45%;
  }
}
