//main colors
$primary: #34495e;
$primary-dark: #2c3e50;
$secondary: #ecf0f1;
$secondary-dark: #bdc3c7;

//basic colors
$light-blue-grey: #d7f3f3;
$greyish-brown: #424242;
$salmon: #ff6d6d;
$dusk: #4a5977;
$bluey-grey: #99a1b2;
$greyish-brown-two: #414141;
$black: #000000;

//primary colors
$primary-teal-brightest: #17c0c3;
$primary-teal-medium: #45ceca;
$primary-teal-greyed-out: #d7f3f3;
$primary-reddish: #fc5a5c;
$primary-yellowish: #ffb400;
$primary-yellowish-dark: #cb8c00;


//backgrounds and borders
$grey-dark-bb: #dbdbdb;
$grey-medium-bb: #ebebeb;
$grey-light-bb: #f3f3f3;

//text
$grey-dark-text: #565555;
$grey-medium-text: #6c6e6e;
$grey-light-text: #999999;
$grey-translucent: rgba(255, 255, 255, 0.075);

//other properties
$transition-time: 0.3s;
$border-radius: 0.5em;
